{
  "extends": ["airbnb-base", "plugin:jest/recommended"],
  "env": {
      "jest": true,
      "node": true
  },
  "rules": {
      "no-console": "warn",
      "no-plusplus": "off",
      "no-restricted-syntax": "off",
      "no-underscore-dangle": "off",
      "guard-for-in": "off",
      "no-await-in-loop": "off",
      "arrow-body-style": "off"
  }
}